html(lang="en")
    body
        p=album._id
        p=album.title
        p=album.createdAt
        p=album.createdBy._id
        p=album.createdBy.username
        p=album.pictures[0]
        p=album.pictures[1]

