html(lang="en")
    body
        p=album.album._id
        p=album.album.title
        p=album.album.createdAt
        p=album.album.createdBy._id
        p=album.album.createdBy.username
        p=album.album.pictures[0]
        p=album.album.pictures[1]

