doctype html
html
    head
        title article
        script(src='./lib/jquery.js')
    body
        p article
        include ./includes/header.jade
        if user
            a(href='/article/create') createNew
        if articles
            each article in articles
                br
                p category
                p=article.category
                p title
                a(href='/article/' + article._id)=article.title
                p content
                p=article.content
                p createdBy
                p=article.createdBy
                p cratedAt
                p=moment(article.cratedAt).format('MMM D,YY')
                br

