doctype html
html
    head
        title article
        script(src='./lib/jquery.js')
        link(href='/bin/css/test.css', rel='stylesheet')
    body
        p article
        include ./includes/header.jade
        if user
            a(href='/Article/create') createNew
        if articles
            each article in articles
                br
                p category:
                    span=article.category
                p title:
                    a(href='/Article/' + article._id)=article.title
                p content:
                    span=article.content
                p createdBy:
                    span=article.createdBy
                p cratedAt:
                    span=moment(article.cratedAt).format('MMM D,YY')

