doctype html
html
    head
        title article
        script(src='./lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        link(href='/bin/css/article.css' rel='stylesheet')
        link(href='/bin/css/footer.css', rel='stylesheet')
        link(href='./lib/buttons/button.css' rel='stylesheet')
        script(src='/bin/js/header.js')
        script(src='./lib/js-url-2.0.2/url.min.js')
    body
        include ./includes/header.jade
        .main
            .main_right
                .box1
                    input#search-input(type='text' placeholder='search')
                if user
                    .box1.createnew
                        a(href='/Article/create')
                            p New
                .tips
                    .tips_head
                        p 标签
                    .tips_head_1
                    .tips_clip
                        .tips_head_2
                        .tips_index
                            ul
                                li
                                    a(href="/Article?page=1?&tag=Front-end", target="_blank") 前端
                                li
                                    a(href="/Article?page=1&tag=Back-end", target="_blank") 后端
                                li
                                    a(href="/Article?page=1&tag=Software_Design", target="_blank") 软件设计
                                li
                                    a(href="/Article?page=1&tag=Software_Engineering", target="_blank") 软件工程
                                li
                                    a(href="/Article?page=1&tag=Database", target="_blank") 数据库
                                li
                                    a(href="/Article?page=1&tag=Other", target="_blank") 其它
            if articles
            .main_left
                each article in articles
                    .article
                        .article_content
                            .title
                                a(href='/Article/' + article._id)=article.title
                            .content
                                span!=article.content
                        .article_detail
                            .avatar
                                img(src='/assets/img/user/' + article.avatar alt='avatar')
                            p.name=article.username
                            p.name 创建于
                            p.blue
                                span=moment(article.createdAt).format('MMM D,YY')
                .page-nav
                    #prev-page.page-button-2
                        a prev
                    -for (var i = 0; i < pages; ++i) {
                        .page-button
                            a #{i + 1}
                    -}
                    #next-page.page-button-2
                        a next
        include ./includes/footer.jade
        script(src='/bin/js/article.js')
        script(src='/bin/js/footer.js')
