doctype html
html
    head
        title childDiscuss
        script(src='../lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        link(href='/bin/css/footer.css' rel='stylesheet')
        link(href='/bin/css/childdiscuss.css' rel='stylesheet')
        script(src='/bin/js/header.js')
    body
        include ./includes/header.jade
        .main
            .discussion_s
                .discussion
                    .discussion_left
                        .avatar
                            img(src='/assets/img/user/' + discussion.avatar alt='avatar')
                        if user
                            .up_box
                                button(class='up' discussion-id=discussion._id)
                                p
                                    span=discussion.up
                            .down_box
                                button(class='down' discussion-id=discussion._id)
                                p
                                    span=discussion.down
                    .discussion_right 
                        .discussion_right_top.size
                            .discussion_MainPart
                                p.discussion_title
                                    span=discussion.title
                                p.discussion_content#head_value
                                    span!=discussion.content
                            p.discussion_detail
                                span.gray.style 评论
                                -var size = 0
                                if answers
                                    -for(var answer in answers) size++
                                span.blue.style #{size}
                                span.gray.style 浏览
                                span.blue.style=discussion.viewsCount
                                if user
                                    if discussion.username == user.username
                                        button(type='button' id='delete_discussion' discussionid=discussion._id) 删除
                                        button.update_discussion(type='button' id='update_discussion' discussionid=discussion._id) 编辑
                        if user
                            .discussion_right_down
                                p.discussion_join 参与讨论
                                .input_shadow
                                    input(type='textarea' id='content')
                                button(type='button' id='answer-submit') 发 布
                    .article-editor.invisible
                        script(src='/lib/tinymce/js/tinymce/tinymce.min.js')
                        script(src='/bin/js/creatediscuss_tinymce.js')
                        .main
                            #content_textarea
                                #content_textarea_border
                                    textarea(id='content')
                            button#update(type='button') 确定
                            button(type='button' id="cancel") 取消
            if answers
                each answer in answers
                    .discussion_answer
                        .discussion
                            .discussion_left
                                .avatar
                                    img(src='/assets/img/user/' + answer.avatar alt='avatar')
                                if user
                                    .up_box
                                        button(class='up' discussion-id=answer._id)
                                        p
                                            span=answer.up
                                    .down_box
                                        button(class='down' discussion-id=answer._id)
                                        p
                                            span=answer.down
                            .discussion_right.add_discussion_right
                                .hide
                                    .discussion_right_top.size
                                        .discussion_MainPart
                                            p.discussion_content
                                                span.discuss_value=answer.content
                                            input.discussion_editor.invisible(type='text')
                                        p.discussion_detail
                                            span.gray.style=answer.username
                                            span.blue.style 回复于
                                            span.gray.style=moment(answer.createdAt).format('MMM D,YY')
                                            if user
                                                span.blue.reply_style 回复
                                            if user
                                                if answer.username == user.username
                                                    button(type='button' class='delete_answer' answerid=answer._id) 删除
                                                    button.update_answer(type='button' class='update_discussion' discussionid=answer._id) 编辑
                                    .discussion_right_down.show
                                        .input_shadow
                                            input(type='text' class='reply_content')
                                        button(type='button' answer-id=answer._id class='reply-submit') 发 布
                            if answer.replys
                                each reply in answer.replys
                                    .discussion_reply
                                        .discussion_left_reply
                                            .avatar
                                                img(src='/assets/img/user/' + reply.avatar alt='avatar')
                                        .discussion_right_reply
                                            .discussion_right_top.reply_size
                                                .discussion_part
                                                    p.discussion_content
                                                        span.discuss_value=reply.content
                                                    input.reply_editor.invisible(type='text')
                                                p.discussion_detail
                                                    span.gray.style=reply.username
                                                    span.blue.style 回复于
                                                    span.gray.style=moment(reply.createdAt).format('MMM D,YY')
                                                    if user
                                                        if reply.username == user.username
                                                            button(type='button' class='delete_reply' replyid=reply._id) 删除
                                                            button.update_reply(type='button' replyid=reply._id) 编辑
        include ./includes/footer.jade
        script(src='/bin/js/footer.js')
        script(src='../bin/js/childDiscuss.js')
