doctype html
html
    head
        title index
        script(src='/lib/jquery.js')
        script(src='/bin/js/childAlbum.js')
        script(src='/bin/js/header.js')
        script(src='/lib/bootstrap/js/bootstrap.min.js')
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="stylesheet", href="/bin/css/childAlbum.css")
        link(rel="stylesheet", href="/bin/css/header.css")
        link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
    body
        header
            include ./includes/header.jade
        div#childAlbum
            header #{album.title}
            section#pictures
                if album.pictures.length == 0
                    p There are not any pictrue in this album. 
                        a(href="#", class="adderButton") Add some?
                else
                    div#pic-content
                        nav.loop
                            a.prev
                                span.icon-wrap
                            a.next
                                span.icon-wrap
                        -var num = 0
                        for picture in album.pictures
                            -var num = num + 1
                            div.picture
                                img(src="../assets/img/album/#{album.title}/#{picture}", alt="Fail loaded.")
                        a(href="#", class="adderButton") Add more pictures.
                    nav
                        ul.pagination
                            -var n = 0
                            while n < (num - 1) / 12 + 1
                                li(id="p-" + (n + 1))
                                    a(href="#" + (n + 1)) #{++n}
            div#container
                div#addPicture
                    form(action='./addPicture', method='POST', enctype='multipart/form-data')
                        label
                            |请选择图片:
                        input(type="file", name="picture")
                        input(type='text' name='albumId' value=album._id class="id")
                        button.btn(type="submit") 添加
                        button#close.btn 取消

            div#screen
                nav.loop
                    a.prev
                        span.icon-wrap
                    a.next
                        span.icon-wrap
                div#image
                    img(src="", alt="no-image")
        footer
            p#writer Copyright ©2014 MIAC
