doctype html
html
    head
        title childArticle
        script(src='../lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        script(src='/bin/js/header.js')
    body
        p childArticle
        include ./includes/header.jade
        p category:
            span=article.category
        p title:
            span=article.title
        p content:
            span=article.content
        p createdBy:
            span=article.createdBy
        p cratedAt:
            span=moment(article.cratedAt).format('MMM D,YY')
        p saySomethingHere:
        input(type='text')
        button(type='button' id='comment-submit') submit
        br
        if comments
            p comments
            each comment in comments
                div
                    p comment:
                    p ObjectId:
                        span=comment._id
                    p type:
                        span=comment.type
                    p content:
                        span=comment.content
                    p createdBy(OI):
                        span=comment.createdBy
                    p createdAt:
                        span=moment(comment.createdAt).format('MMM D,YY')
                    p saySomethingHere:
                    input(type='text')
                    button(type='button' class='reply-submit' comment-id=comment._id) submit
                    if comment.replys
                        p replys:
                        each reply in comment.replys
                            p reply:
                            p ObjectId:
                                span=reply._id
                            p type:
                                span=reply.type
                            p content:
                                span=reply.content
                            p createdBy(OI):
                                span=reply.createdBy
                            p createdAt:
                                span=moment(reply.createdAt).format('MMM D,YY')
                br
        script(src='../bin/js/childArticle.js')

