doctype html
html
    head
        title index
        link(rel="stylesheet", href="/bin/css/childAlbum.css")
        link(rel="stylesheet", href="/bin/css/header.css")
        link(rel="stylesheet", href="/bin/css/footer.css")
        script(src='/lib/jquery.js')
        script(src='/bin/js/childAlbum.js')
        script(src='/bin/js/header.js')
        script(src='/bin/js/albumCarousel.js')
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    body
        header
            include ./includes/header.jade
        .main
            h1 #{album.title}
            if album.pictures.length != 0
                .bigPics
                    ul.bigList-items
                        -var length = album.pictures.length
                        -var length1 = 1
                        -var length2 = 1
                        each pic in album.pictures
                            -if (length1 == 1) {
                                li.bigList-item.firstItem
                                    span.pic
                                        img(src='../assets/img/album/'+album.title+'/'+ pic class="#{length1++}")
                            -} else if (length1 == 2) {
                                li.bigList-item.rightItem
                                    span.pic
                                        img(src='../assets/img/album/'+album.title+'/'+ pic class="#{length1++}")
                            -} else {
                                li.bigList-item.normal
                                    span.pic
                                        img(src='../assets/img/album/'+album.title+'/'+ pic class="#{length1++}")
                            -}
                .smallPics
                    .prev
                    ul.smallList-items
                        -var num = 1;
                        -var length = album.pictures.length;
                        each pic in album.pictures
                            if num == 1
                                li(style="left:#{(num - 1) * 112.5}px").smallList-item.first
                                    img(src='../assets/img/album/'+album.title+'/'+ pic class="#{length2++}")
                            else if num == 7
                                li(style="left:#{(num - 1) * 112.5}px").smallList-item.last
                                    img(src='../assets/img/album/'+album.title+'/'+ pic class="#{length2++}")
                            else if num < 7
                                li(style="left:#{(num - 1) * 112.5}px").smallList-item
                                    img(src='../assets/img/album/'+album.title+'/'+ pic class="#{length2++}")
                            else
                                li(style="left: 787.5px").smallList-item
                                    img(src='../assets/img/album/'+album.title+'/'+ pic class="#{length2++}")
                            -num++
                        if user
                            if num < 7
                                li(style="left: #{(num - 1) * 112.5}px").smallList-item.opcaity
                                            img(src='../src/img/add.jpg')
                            else
                                li(style="left: 787.5px").smallList-item.opcaity
                                            img(src='../src/img/add.jpg')
                    .next
            else if user
                .nonCenter
                    p 你还没有添加图片(*-o-)=3
            else
                .nonCenter
                    p 233333这里啥都没有O3O

            if user
                .addPicBtn
                    button(type="button" id="addPictureBtn") 添加图片
                    if album
                        button(type="button" id="delete_album" albumid=album.id) 删除相册
        if user
            #addPicBG
                .addPic
                    form(action='/album/addPicture' method='POST' enctype='multipart/form-data')
                        fieldset
                            legend 添加新图片
                            a.upload 选择文件
                                input(type="file" name="picture" id="addPic" onchange="document.getElementById('chosen').value = this.value")
                                input(type="text" name="albumId" value = album._id style="display: none;")
                            input(type="text" id="chosen" readonly="readonly" placeholder="未选择图片")
                            button.add 添加
                    button.add#closeBtn close
        if album
            .showPic
                .center
                    button#close X
                    span.centerPic
                        img(src="../bin/main.jpg")
        include ./includes/footer.jade
        script(src='/bin/js/footer.js')
