doctype html
html
    head
        title discuss
        script(src='/lib/jquery.js')
        link(href='/bin/css/header.css', rel='stylesheet')
        link(href='/lib/buttons/button.css' rel='stylesheet')
        link(href='/bin/css/footer.css' rel='stylesheet')
        link(href='/bin/css/discuss.css' rel='stylesheet')
        script(src='/bin/js/header.js')
        script(src='/lib/js-url-2.0.2/url.min.js')
    body
        include ./includes/header.jade
        .main
            .sreach
                .input_shadow
                    input#search-input(type='text' placeholder='sreach')
                if user
                    .input_shadow
                        a(href='/Discuss/create')
                            p#creatnew New
                .tips
                    .tips_head
                        p 标签
                    .tips_head_1
                    .tips_clip
                        .tips_head_2
                        .tips_index
                            ul
                                li
                                    a(href="/Discuss?page=1?&tag=Front-end", target="_blank") 前端
                                li
                                    a(href="/Discuss?page=1&tag=Back-end", target="_blank") 后端
                                li
                                    a(href="/Discuss?page=1&tag=Software_Design", target="_blank") 软件设计
                                li
                                    a(href="/Discuss?page=1&tag=Softare_Engineering", target="_blank") 软件工程
                                li
                                    a(href="/Discuss?page=1&tag=Database", target="_blank") 数据库
                                li
                                    a(href="/Discuss?page=1&tag=Other", target="_blank") 其它 
            if discussions
                each discussion in discussions
                    .discussion
                        .discuss
                            .discussion_left
                                .avatar
                                    img(src='/assets/img/user/' + discussion.avatar alt='avatar')
                                if user
                                    .up_box
                                        button(class='up' discussion-id=discussion._id)
                                        p
                                            span=discussion.up
                                    .down_box
                                        button(class='down' discussion-id=discussion._id)
                                        p
                                            span=discussion.down
                            .discussion_right
                                .discussion_right_top
                                    p.discussion_title
                                        a(href='/Discuss/' + discussion._id)=discussion.title
                                    .discussion_content
                                        span!=discussion.content
                                p.discussion_right_down
                                    span.gray 浏览
                                    span.blue=discussion.viewsCount
                                    span.gray=discussion.username
                                    span.gray 创建于
                                    span.blue=moment(discussion.createdAt).format('MMM D,YY')
                .page-nav
                    #prev-page.page-button-2
                        a prev
                    -for (var i = 0; i < pages; ++i) {
                        .page-button
                            a #{i + 1}
                    -}
                    #next-page.page-button-2
                        a next
        script(src='/bin/js/discuss.js')
        include ./includes/footer.jade
        script(src='/bin/js/footer.js')
